/* -----import google fonts----- */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:wght@500&display=swap');
/* ------------------------ font-family: 'Carter One', cursive;
font-family: 'Poppins', sans-serif;  ------------------------ */

/* -----basic styling----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    padding: 50px 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    max-width: 1440px;
    width: 1200px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E02C6D;
    color: #fff;
    font-size: 16px;
    padding: 10px 24px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
}
/* ---------------------------- */
#header{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}
.header-container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo .logo-text{
    font-family: 'Carter One', cursive;
    /* color: #3A3A3A; */
    color: #3A3A3A;
    font-size: 1.5em;
}
.logo .logo-link{
    color: #3A3A3A;
}
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .nav-items{
    display: flex;
    align-items: center;
}
.nav-items li{
    margin-right: 16px;
}
.nav-items li .fa-search{
    font-size: 1.5em;
    cursor: pointer;
    position: relative;
}
.nav-items li input[type="search"]{
    display: none;
    position: absolute;
    left: -130px;
    outline: none;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    padding: 2px 5px;
    width: 150px;
}
.nav-items li .fa-search:hover input[type="search"]{
    display: block;
}
.nav-items li a{
    font-size: 1em;
    color: #3A3A3A;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    transition: all .5s ease-in-out;
}
.nav-items li a:hover{
    border-bottom: 2px solid #3A3A3A;
}
.header-right .cart-icon{
    font-size: 2.3em;
    color: #3A3A3A;
}
/* -----hero area styling-----  */
.hero-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left{
    margin-right: 130px;
}
.hero-left h1{
    font-size: 3.25em;
    line-height: 70px;
    margin-bottom: 16px;
}
.hero-left p{
    font-size: 1em;
    line-height: 24px;
    margin-bottom: 16px;
}
.hero-area .hero-right{
    background: url(images/Circle\ design.svg);
    position: relative;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    width: 475px;
    height: 475px;
    padding: 30px 30px 30px 5px;
}
.hero-area .hero-right img{
    width: 440px;
    height: 414px;
}
/* ----------------------------- */
/* company logo syling */
.divider{
    height: 2px;
    border: none;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}
.company-logos{
    padding: 35px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-logos .company-logo{
    margin-right: 60px;
}
/* Products sections styling */
.section-title{
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.75em;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    justify-items: center;
    padding: 0 70px;
}
.products .product{
    width: 330px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product .product-title{
    font-size: 1.75em;
    margin-bottom: 6px;
    color: #18191F;
}
.product .product-price{
    color:#000000de;
    font-size: 1.5em;
    font-weight: normal;
}
.product .ratings{
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.ratings .fas.filled{
    color: #FB8200;
}
.ratings .fas.not-filled{
    color: #787885;
}
.ratings .rating{
    font-weight: bold;
    margin-left: 8px;
}
.rating small{
    color: #5E6366;
    font-size: 14px;
}
.product .details{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}
.products-see-more{
    display: flex;
    justify-content: flex-end;
    padding: 0 70px;
    margin-top: 50px;
}
#products .see-more-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #E02C6D;
    font-size: 16px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
/* ----------------------------- */
/* own section styling */
.newsletter{
    text-align: center;
    padding: 0 120px;
}
.newsletter .form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.newsletter .form input{
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}
.newsletter .form input:last-child{
    border: none;
    padding: 10px 24px;
}
/* footer styling */
